<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2014, 2020 University of Southampton.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       University of Southampton - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://soton.ac.uk/models/eventb/diagrams/2020"
            class="ac.soton.eventb.emf.diagrams.provider.DiagramsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemColorProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://emf.eventb.org/models/core/machine/2022"
            class="ac.soton.eventb.emf.diagrams.provider.DiagramsItemProviderAdapterFactory$CoreChildCreationExtender"/>
      <extender
            uri="http://emf.eventb.org/models/core/context/2022"
            class="ac.soton.eventb.emf.diagrams.provider.DiagramsItemProviderAdapterFactory$CoreChildCreationExtender"/>
   </extension>
   
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ac.soton.eventb.emf.diagrams.toolbar">
            <separator
                  name="validations">
            </separator>
            <separator
                  name="transformations">
            </separator>
            <separator
                  name="additions">
            </separator>
            <separator
                  name="animations"
                  visible="true">
            </separator>
            <separator
                  name="commits"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   
</plugin>
