<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2014, 2020 University of Southampton.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       University of Southampton - initial API and implementation
 -->

<plugin>
   <extension-point id="ac.soton.eventb.emf.diagrams.validator" name="validator" schema="schema/ac.soton.eventb.emf.diagrams.validator.exsd"/>


<extension
      name="EventB Diagrams"
      point="org.eclipse.ui.menus">
      
	<menuContribution
         allPopups="true"
         locationURI="toolbar:ac.soton.eventb.emf.diagrams.toolbar?after=validations">
		<command
            commandId="ac.soton.eventb.emf.diagrams.generator.validate"
            icon="icons/Validate.png"
            label="validate"
            style="push">
		</command>
	</menuContribution>
	
	<menuContribution
	    allPopups="true"
	    locationURI="toolbar:ac.soton.eventb.emf.diagrams.toolbar?after=transformations">
		<command
	       commandId="ac.soton.eventb.emf.diagrams.generator.translateToEventB"
	       icon="icons/Translate_IUMLB.png"
	       label="generate Event-B"
	       style="push">
		</command>
	</menuContribution>
	
	<menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.emf.diagrams.generator.translateAllToEventB"
               icon="icons/Translate_IUMLB.png"
               label="Translate All iUML-B Diagrams"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
	                   <instanceof
	                         value="org.eventb.core.IMachineRoot">
	                   </instanceof>
	                   <instanceof
	                         value="org.eventb.core.IContextRoot">
	                   </instanceof>
	                   <reference
	                   		definitionId="ac.soton.eventb.emf.diagrams.navigator.isUMLB">
	                   </reference>
	                   
		               <!--adapt
		                     type="org.eclipse.emf.ecore.EObject">
		                  <instanceof
		                        value="ac.soton.eventb.emf.diagrams.Diagram">
		                  </instanceof>
		               </adapt-->
		               
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
</extension>

<extension
     point="org.eclipse.ui.commands">
	<category
        description="Commands associated with iUML-B Diagrams"
        id="ac.soton.eventb.emf.diagrams.iUMLB"
        name="iUML-B Commands">
	</category>
	<command
        categoryId="ac.soton.eventb.emf.diagrams.iUMLB"
        description="Validate the current iUML-B diagram"
        id="ac.soton.eventb.emf.diagrams.generator.validate"
        name="Validate the current iUML-B diagram">
	</command>
	<command
        categoryId="ac.soton.eventb.emf.diagrams.iUMLB"
        description="Translate the current iUML-B diagram into Event-B"
        id="ac.soton.eventb.emf.diagrams.generator.translateToEventB"
        name="Translate the current iUML-B diagram into Event-B">
	</command>
	<command
 		defaultHandler="ac.soton.eventb.emf.diagrams.generator.handlers.IUMLBTranslateAllHandler"
		id="ac.soton.eventb.emf.diagrams.generator.translateAllToEventB"
		name="Translate All">
    </command>
</extension>

<extension
     point="org.eclipse.ui.handlers">
     
    <handler
        class="ac.soton.eventb.emf.diagrams.generator.handlers.IUMLBValidateHandler"
        commandId="ac.soton.eventb.emf.diagrams.generator.validate">
     <enabledWhen>
        <with
              variable="activeEditor">
           <instanceof
                 value="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditor">
           </instanceof>
        </with>
     </enabledWhen>
     <activeWhen>
        <with
              variable="activeEditor">
           <instanceof
                 value="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditor">
           </instanceof>
        </with>
     </activeWhen>
  </handler>
</extension>
   
</plugin>
